.SearchForm {
  flex: 2;
  padding: 24px;
  color: #ddd;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
}

.Slogan {
  margin-top: 13px;
  margin-right: 16px;
  font-weight: 500;
}

.FormContainer {
  display: flex;
  margin-bottom: 24px;

  input {
    font-size: 14px;
    flex: 1;
    padding: 12px;
    border: none;
    border: 1px solid #15191c;
    background-color: #1b1d23;
    border-radius: 3px;
    color: #ddd;
  }

  input + input {
    margin-left: 8px;
  }
}

.Summary {
  width: 100%;
  border-top: 1px solid #3c424e;
  margin: 36px 0 24px;

  span {
    background-color: #21252b;
    padding-right: 10px;
    line-height: 0px;

    /*&::before {
      content: '';
      padding: 0px 10px;
      background-color: #3c424e;
      border-radius: 50%;
      margin: 3px 5px 3px 0;
    }*/
  }

  code {
    font-family: monospace !important;
    color: #f5da55;
    font-weight: 500;
    padding: 0;
  }
}

.SnippetContainer {
  margin-bottom: 24px;

  pre {
    display: flex;
  }
}

.SnippetLink {
  display: block;
  color: #E19BF7;
  font-family: monospace;
  margin-bottom: 8px;
}

.Snippet-code {
  background: rgb(40, 44, 52) !important;
  border: 1px solid #181a1f;
  padding-top: 8px !important;
  padding-bottom: 8px !important;

  code[class*="language-"] {
    padding-top: 3px;
    background: rgb(40, 44, 52);
  }
}

.LineNumberContainer {
  width: 30px;
  display: flex;
  margin-top: 3px;
  flex-direction: column;
  margin-right: 30px;
}

.LineNumber {
  opacity: 0.6;
  line-height: 1.5;
}
