.SearchForm {
  @include flex(2);
  @include display-flex;
  @include flex-direction(column);
  padding: 11px 16px;
  color: #ddd;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  border-right: 1px solid #15191c;

  /* Limit width when code view presents */
  &:not(:last-child) {
    max-width: 500px;
  }

  .__react_component_tooltip.type-dark {
    background-color: #2598b8;
  }

  .__react_component_tooltip.type-dark.place-bottom {
    &::after {
      border-bottom-color: #2598b8;
      border-bottom-width: 7px;
    }
  }
}

.Slogan {
  margin-top: 4px;
  margin-right: 16px;
  font-family: 'Lato', 'Open Sans';
  font-weight: 800;
  font-size: 24px;
}

.FormContainer {
  @include display-flex;
  @include flex(initial);

  input {
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
    @include flex(1);
    padding: 10px;
    border: none;
    border: 1px solid #15191c;
    background-color: #1b1d23;
    border-radius: 3px;
    color: #ddd;
  }

  input + input {
    margin-left: 8px;
  }

  .SearchStringToggles {
    margin-right: 10px;

    button {
      //background: #1b1d23;
      padding: 10px;
      border: 1px solid #15191c;
      width: 45px;
      color: #aaa;
      font-size: 14px;
      cursor: pointer;
      font-family: monospace;
      background-color: #2c3139;

      &:hover {
        color: #fff;
      }

      &.active {
        background-color: #2598B8;
        color: white;
      }
    }

    .CaseSensitive {
      border-radius: 0 3px 3px 0;
    }
  }
}

.ResultsContainer {
  @include flex(1);
  @include display-flex;
  @include flex-direction(column);
  overflow: hidden;
  position: relative;
  padding-top: 50px;

  .Results {
    flex: 1;
    overflow: scroll;
  }
}

.Summary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #3c424e;
  margin: 24px 0;

  span {
    background-color: #21252b;
    padding-right: 10px;
    line-height: 0px;
  }

  code {
    font-family: monospace !important;
    color: #f5da55;
    font-weight: 500;
    padding: 0;
  }
}

.Footer {
  display: flex;
  justify-content: space-between;
  color: #aaa;
  padding: 10px 0 4px 0;
  font-weight: 400;
  font-size: 13px;
}
