.SearchForm {
  @include flex(2);
  @include display-flex;
  @include flex-direction(column);
  padding: 11px 16px;
  color: #ddd;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  border-right: 1px solid #15191c;
}

.Slogan {
  margin-top: 4px;
  margin-right: 16px;
  font-family: 'Lato', 'Open Sans';
  font-weight: 800;
  font-size: 24px;
}

.FormContainer {
  @include display-flex;
  @include flex(initial);

  input {
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
    @include flex(1);
    padding: 10px;
    border: none;
    border: 1px solid #15191c;
    background-color: #1b1d23;
    border-radius: 3px;
    color: #ddd;
  }

  input + input {
    margin-left: 8px;
  }
}

.ResultsContainer {
  @include flex(1);
  @include display-flex;
  @include flex-direction(column);
  overflow: hidden;
  position: relative;
  padding-top: 50px;

  .Results {
    flex: 1;
    overflow: scroll;
  }
}

.Summary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #3c424e;
  margin: 24px 0;

  span {
    background-color: #21252b;
    padding-right: 10px;
    line-height: 0px;
  }

  code {
    font-family: monospace !important;
    color: #f5da55;
    font-weight: 500;
    padding: 0;
  }
}
