/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import 'partials/search';
@import 'partials/full-view';

html {
  font-family: "Roboto-Light", "Helvetica Neue", sans-serif;
  background-color: #21252b;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
  outline: none;
}

.App {
  display: flex;
}

.TogglerContainer {
  font-weight: bold;
  position: fixed;
  display: flex;
  right: 32px;
  top: 16px;
  max-width: 100px;
  z-index: 1000;
}

.Toggler {
  flex: 1;
  padding: 8px 16px;
  background-color: #282c34;
  color: #ddd;
  cursor: pointer;
  margin-left: 1px;
  border-radius: 3px;

  &:hover {
    background-color: lighten(#282c34, 6)
  }

  &.is-active {
    background-color: #2b99ce;
    &:hover {
      background-color: lighten(#2b99ce, 6);
    }
  }
}

.prism-show-language-label {
  display: none !important;
}
